fairseq/data-bin
fairseq/apex

fairseq/examples/translation/iwslt14.tokenized.de-en
fairseq/examples/translation/mosesdecoder
fairseq/examples/translation/subword-nmt
fairseq/examples/translation/orig

fairseq/majority_class_logs
fairseq/iwslt_logs
fairseq/generated_translations
fairseq/rationalization_results
fairseq/old_iwslt_logs
fairseq/old_majority_class_logs
fairseq/__pycache__

huggingface/data/webtext_train.txt
huggingface/data/webtext_valid.txt
huggingface/data/webtext_test.txt
huggingface/gpt2_test_output
huggingface/gpt2_logs
huggingface/rationalization_results
huggingface/__pycache__


__pycache__
.vscode
.venv
__pycache__
data/*
rationalization_results
evaluation_results

./config/run_eval2.json
jobs.out

*/cass/cache/*
=/mnt/parscratch/users/cass/cache/models--KoboldAI--OPT-6.7B-Erebus/.no_exist/9c4d1af96f93224e01d2f69c303fc6d6f686bdcc/added_tokens.json
=/mnt/parscratch/users/cass/cache/models--KoboldAI--OPT-6.7B-Erebus/.no_exist/9c4d1af96f93224e01d2f69c303fc6d6f686bdcc/generation_config.json
=/mnt/parscratch/users/cass/cache/models--KoboldAI--OPT-6.7B-Erebus/.no_exist/9c4d1af96f93224e01d2f69c303fc6d6f686bdcc/model.safetensors
=/mnt/parscratch/users/cass/cache/models--KoboldAI--OPT-6.7B-Erebus/.no_exist/9c4d1af96f93224e01d2f69c303fc6d6f686bdcc/model.safetensors.index.json
=/mnt/parscratch/users/cass/cache/models--KoboldAI--OPT-6.7B-Erebus/.no_exist/9c4d1af96f93224e01d2f69c303fc6d6f686bdcc/tokenizer.json
=/mnt/parscratch/users/cass/cache/models--KoboldAI--OPT-6.7B-Erebus/blobs/2f4d64a215dede6f2c3d68dbb00a46c561b8a151
=/mnt/parscratch/users/cass/cache/models--KoboldAI--OPT-6.7B-Erebus/blobs/7e867cfe4aa95844585b002b4f424c514fee5265
=/mnt/parscratch/users/cass/cache/models--KoboldAI--OPT-6.7B-Erebus/blobs/226b0752cac7789c48f0cb3ec53eda48b7be36cc
=/mnt/parscratch/users/cass/cache/models--KoboldAI--OPT-6.7B-Erebus/blobs/940429e2e61016bd0620c04a48e0df0c49894d23
=/mnt/parscratch/users/cass/cache/models--KoboldAI--OPT-6.7B-Erebus/blobs/a767e631b526954f1945ecef880ce261f429f2f01b352192c35e6826a644fc51
=/mnt/parscratch/users/cass/cache/models--KoboldAI--OPT-6.7B-Erebus/blobs/fd05f8e8b4a81d5d4987d20d7fd4258e73e5e51a
=/mnt/parscratch/users/cass/cache/models--KoboldAI--OPT-6.7B-Erebus/refs/main
=/mnt/parscratch/users/cass/cache/models--KoboldAI--OPT-6.7B-Erebus/snapshots/9c4d1af96f93224e01d2f69c303fc6d6f686bdcc/config.json
=/mnt/parscratch/users/cass/cache/models--KoboldAI--OPT-6.7B-Erebus/snapshots/9c4d1af96f93224e01d2f69c303fc6d6f686bdcc/merges.txt
=/mnt/parscratch/users/cass/cache/models--KoboldAI--OPT-6.7B-Erebus/snapshots/9c4d1af96f93224e01d2f69c303fc6d6f686bdcc/pytorch_model.bin
=/mnt/parscratch/users/cass/cache/models--KoboldAI--OPT-6.7B-Erebus/snapshots/9c4d1af96f93224e01d2f69c303fc6d6f686bdcc/special_tokens_map.json
=/mnt/parscratch/users/cass/cache/models--KoboldAI--OPT-6.7B-Erebus/snapshots/9c4d1af96f93224e01d2f69c303fc6d6f686bdcc/tokenizer_config.json
=/mnt/parscratch/users/cass/cache/models--KoboldAI--OPT-6.7B-Erebus/snapshots/9c4d1af96f93224e01d2f69c303fc6d6f686bdcc/vocab.json
=/mnt/parscratch/users/cass/cache/models--gpt2-medium/.no_exist/f65d4965d1221eff2bcf34f53a2ba12120e18f24/added_tokens.json
=/mnt/parscratch/users/cass/cache/models--gpt2-medium/.no_exist/f65d4965d1221eff2bcf34f53a2ba12120e18f24/special_tokens_map.json
=/mnt/parscratch/users/cass/cache/models--gpt2-medium/.no_exist/f65d4965d1221eff2bcf34f53a2ba12120e18f24/tokenizer_config.json
=/mnt/parscratch/users/cass/cache/models--gpt2-medium/blobs/1f1d9aaca301414e7f6c9396df506798ff4eb9a6
=/mnt/parscratch/users/cass/cache/models--gpt2-medium/blobs/4b988bccc9dc5adacd403c00b4704976196548f8
=/mnt/parscratch/users/cass/cache/models--gpt2-medium/blobs/7b40acf43d912d857c663046ac178ee3fd7ff2d0
=/mnt/parscratch/users/cass/cache/models--gpt2-medium/blobs/057e43033439e068b325f32af95dde9efc9552ae
=/mnt/parscratch/users/cass/cache/models--gpt2-medium/blobs/226b0752cac7789c48f0cb3ec53eda48b7be36cc
=/mnt/parscratch/users/cass/cache/models--gpt2-medium/blobs/fc5a354a19255ad494f3d71549390baca1ccf61d1d822b9408971705c687c9cd
=/mnt/parscratch/users/cass/cache/models--gpt2-medium/refs/main
=/mnt/parscratch/users/cass/cache/models--gpt2-medium/snapshots/f65d4965d1221eff2bcf34f53a2ba12120e18f24/config.json
=/mnt/parscratch/users/cass/cache/models--gpt2-medium/snapshots/f65d4965d1221eff2bcf34f53a2ba12120e18f24/generation_config.json
=/mnt/parscratch/users/cass/cache/models--gpt2-medium/snapshots/f65d4965d1221eff2bcf34f53a2ba12120e18f24/merges.txt
=/mnt/parscratch/users/cass/cache/models--gpt2-medium/snapshots/f65d4965d1221eff2bcf34f53a2ba12120e18f24/model.safetensors
=/mnt/parscratch/users/cass/cache/models--gpt2-medium/snapshots/f65d4965d1221eff2bcf34f53a2ba12120e18f24/tokenizer.json
=/mnt/parscratch/users/cass/cache/models--gpt2-medium/snapshots/f65d4965d1221eff2bcf34f53a2ba12120e18f24/vocab.json
=/mnt/parscratch/users/cass/cache/models--openlm-research--open_llama_7b_v2/.no_exist/e5961def23172a2384543940e773ab676033c963/added_tokens.json
=/mnt/parscratch/users/cass/cache/models--openlm-research--open_llama_7b_v2/.no_exist/e5961def23172a2384543940e773ab676033c963/model.safetensors
=/mnt/parscratch/users/cass/cache/models--openlm-research--open_llama_7b_v2/.no_exist/e5961def23172a2384543940e773ab676033c963/model.safetensors.index.json
=/mnt/parscratch/users/cass/cache/models--openlm-research--open_llama_7b_v2/.no_exist/e5961def23172a2384543940e773ab676033c963/pytorch_model.bin
=/mnt/parscratch/users/cass/cache/models--openlm-research--open_llama_7b_v2/.no_exist/e5961def23172a2384543940e773ab676033c963/tokenizer.json
=/mnt/parscratch/users/cass/cache/models--openlm-research--open_llama_7b_v2/blobs/1c141cfedc26fa17771e88d0a1372d4a7387a3ec
=/mnt/parscratch/users/cass/cache/models--openlm-research--open_llama_7b_v2/blobs/75ff0f5b6d38cd1300f7277c250615aa6ae6d241
=/mnt/parscratch/users/cass/cache/models--openlm-research--open_llama_7b_v2/blobs/91b289e85fa20fd375d8b33dc12f77616f18abc6359804471d1fafcb425fecb8
=/mnt/parscratch/users/cass/cache/models--openlm-research--open_llama_7b_v2/blobs/1490c732e31d7667331c20e08695eff6595f4bb9284d8bc77295db88f8b38efe
=/mnt/parscratch/users/cass/cache/models--openlm-research--open_llama_7b_v2/blobs/3076ca9866acf30d52b086b96af98a85c17015c0
=/mnt/parscratch/users/cass/cache/models--openlm-research--open_llama_7b_v2/blobs/cd8326ba7c8ae46f35eb383cbe33baa2171e6171
=/mnt/parscratch/users/cass/cache/models--openlm-research--open_llama_7b_v2/blobs/db7264b24cac7a39947bb5fc02fe5c2d7ac9eaf4
=/mnt/parscratch/users/cass/cache/models--openlm-research--open_llama_7b_v2/blobs/dc3676264b34832e2a39149d273cddc528764143b5e89e20cc7bcadd7aa03d34
=/mnt/parscratch/users/cass/cache/models--openlm-research--open_llama_7b_v2/refs/main
=/mnt/parscratch/users/cass/cache/models--openlm-research--open_llama_7b_v2/snapshots/e5961def23172a2384543940e773ab676033c963/config.json
=/mnt/parscratch/users/cass/cache/models--openlm-research--open_llama_7b_v2/snapshots/e5961def23172a2384543940e773ab676033c963/generation_config.json
=/mnt/parscratch/users/cass/cache/models--openlm-research--open_llama_7b_v2/snapshots/e5961def23172a2384543940e773ab676033c963/pytorch_model-00001-of-00002.bin
=/mnt/parscratch/users/cass/cache/models--openlm-research--open_llama_7b_v2/snapshots/e5961def23172a2384543940e773ab676033c963/pytorch_model-00002-of-00002.bin
=/mnt/parscratch/users/cass/cache/models--openlm-research--open_llama_7b_v2/snapshots/e5961def23172a2384543940e773ab676033c963/pytorch_model.bin.index.json
=/mnt/parscratch/users/cass/cache/models--openlm-research--open_llama_7b_v2/snapshots/e5961def23172a2384543940e773ab676033c963/special_tokens_map.json
=/mnt/parscratch/users/cass/cache/models--openlm-research--open_llama_7b_v2/snapshots/e5961def23172a2384543940e773ab676033c963/tokenizer_config.json
=/mnt/parscratch/users/cass/cache/models--openlm-research--open_llama_7b_v2/snapshots/e5961def23172a2384543940e773ab676033c963/tokenizer.model
logs/analogies/gpt2_ours_extracting.log
logs/analogies/gpt2-medium_ours_extracting.log
logs/analogies/llama_ours_extracting.log
logs/analogies/OPT6B_ours_extracting.log
logs/analogies/gpt2-medium_ours_extracting.log
